<h1>welcome to <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong> !</h1>
<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-9"><p>CopyRight Infratop.inc</p></div>
	</div>
</div>
