/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 	font-family: verdana, arial, helvetica, sans-serif;
 	color: #333;
 }

strong {
	font-weight: bold;
}

 /*						*/
 /* 	TOPページ部分		*/
 /*						*/
.top-page {
	margin: 33px;
}

.top-page h1 {
	line-height: 18px;
}

.top-page p {
	margin: 33px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.top-page strong {
	font-weight: bold;
}
