<div class="show-page">
	<p><strong>Title: </strong><%= @book.title %></p>
	<p><strong>Body: </strong><%= @book.body %></p>
	<%= link_to "Edit", edit_booker_path(@book.id),class:"edit_#{@book.id}" %>
	 | 
	<%= link_to "Back", bookers_path,class:"back" %>
</div>
